<p class="lead">
  <strong><a href="https://itunes.apple.com/us/podcast/global-trance-grooves-john/id301295540" target="_blank">Global Trance Grooves</a> by <a href="http://www.john00fleming.com/" target="_blank">John '00' Fleming</a></strong>
  is seriously good.
</p>

<p class="lead">
  These tracks are some of the finest examples of trance from around the world.
</p>

<p class="lead">
  They deserve a safe and secure home on the internet.
</p>

<p class="lead">
  &lt;3 <a href="mailto:ben@nerdyworm.com?gtga">Benjamin</a>
</p>
