{{view App.YearsView}}

<div class="jumbotron">
  <h1>John '00' Flemming</h1>
  <h1>Global Trance Grooves</h1>
  <p class="lead">
    Unofficial archive site for
    <a href="https://itunes.apple.com/us/podcast/global-trance-grooves-john/id301295540" target="_blank">Global Trance Grooves</a>
  </p>
</div>

